<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiseriScraping</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style>
      .main {        
        padding:0px;
        background-color: white;
      }

      @font-face {
        font-family: 'klavikaboldwebfont';
        src: url('klavikaboldwebfont.eot');
        src: local('klavikaboldwebfont'), url('klavikaboldwebfont.woff') format('woff'), url('.klavikaboldwebfont.ttf') format('truetype');
      }

      .fontsforweb_fontid_77695 {
        font-family: 'klavikaboldwebfont' !important;
        font-size: 2.2rem;
      }

      @media screen and (max-width: 80%) {
        .navbar-brand {
          font-size: 0.5rem;
        }
        .fontsforweb_fontid_77695 {
          font-family: 'klavikaboldwebfont' !important;
          font-size: 1rem !important;
        }
      }

      /* CHECKBOXES */
      .btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
        color: #fff;
        background-color: #3b5998;
        border-color: black;
      }
      /* non selected btn css */
      .btn-group-toggle .btn {
        color: #fff;
        background-color: gray;
        border-color: black;
      }

      /* YEARS CHECKBOXES */
      .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
          background-color: #3b5998;
          border-color: black;
      }

    </style>

  </head>


  <body style="background-color:#bec3cc;">

    <div class="container main">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" style="min-height:90px;
       background-color:#3b5998 !important; padding-top:15px !important;">
        <a class="navbar-brand fontsforweb_fontid_77695" href="/" style="margin-left:7%;">
          <b>MiseriScraping</b>
        </a>

        
      </nav>

      <div class="head" style="padding-top:5px;">
        
      </div>